{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>INFINITY - Software Landing Page Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'soffer-1.0.0/img/infinity.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'soffer-1.0.0/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'soffer-1.0.0/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'soffer-1.0.0/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'soffer-1.0.0/css/style.css' %}" rel="stylesheet">
</head>

<body>
{% include 'chatbot.html' %}
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0" id="home">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0">INFINITY</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="#home" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">About</a>
                    <a href="#overview" class="nav-item nav-link">Overview</a>
                    <a href="#features" class="nav-item nav-link">Features</a>
                    <a href="#pricing" class="nav-item nav-link">Pricing</a>
                    <a href="#testimonial" class="nav-item nav-link">Testimonial</a>
                    <a href="#contact" class="nav-item nav-link">Contact</a>
                </div>
{#                <a href="" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Free Trail</a>#}
            </div>
        </nav>

        <div class="container-xxl bg-primary hero-header">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="text-white mb-4 animated slideInDown">Biznesingizni boshqarish uchun mukammal
                            dasturiy ta’minot</h1>
                        <p class="text-white pb-3 animated slideInDown">
                            Samarali biznes boshqaruvi uchun zamonaviy va qulay dastur. Ish jarayonlarini
                            soddalashtiring va samaradorlikni oshiring!
                        </p>
{#                        <div class="position-relative w-100 mt-3">#}
{#                            <label>#}
{#                                <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"#}
{#                                       placeholder="Email manzilingizni kiriting" style="height: 58px;">#}
{#                            </label>#}
{#                            <button type="button"#}
{#                                    class="btn btn-primary rounded-pill py-2 px-3 shadow-none position-absolute top-0 end-0 m-2">#}
{#                                Bepul sinab ko'ring#}
{#                            </button>#}
{#                        </div>#}
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid rounded animated zoomIn" src="{% static 'soffer-1.0.0/img/hero.jpg' %}"
                             alt="Biznes boshqaruv dasturi">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Navbar & Hero End -->


    <!-- Feature Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item bg-light rounded text-center p-5">
                        <i class="fa fa-4x fa-edit text-primary mb-4"></i>
                        <h5 class="mb-3">To‘liq moslashtiriladigan</h5>
                        <p class="m-0">Dasturiy ta’minotni o‘z ehtiyojlaringizga mos ravishda sozlang va biznesingizni
                            yanada samarali boshqaring.</p>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="feature-item bg-light rounded text-center p-5">
                        <i class="fa fa-4x fa-sync text-primary mb-4"></i>
                        <h5 class="mb-3">Ilovalar bilan integratsiya</h5>
                        <p class="m-0">Turli xil dasturlar va xizmatlar bilan bog‘lanish imkoniyati. Oson
                            avtomatlashtirish va yanada qulay foydalanish!</p>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded text-center p-5">
                        <i class="fa fa-4x fa-draw-polygon text-primary mb-4"></i>
                        <h5 class="mb-3">Soddalashtirilgan boshqaruv</h5>
                        <p class="m-0">Drag & Drop funksiyasi bilan barcha sozlamalarni oddiy surish orqali boshqaring
                            va tezkor ishlang.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature End -->


    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5 flex-column-reverse flex-lg-row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-4">Biznesingizni Keyingi Bosqichga Olib Chiqaramiz</h1>
                    <p class="mb-4">Biznesingizni samarali boshqarish va rivojlantirish uchun zamonaviy vositalar. Biz
                        bilan ishlash orqali siz jarayonlarni avtomatlashtirib, o‘sishni tezlashtirishingiz mumkin.</p>
                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="ms-4">
                            <h5>Birinchi Ish Jarayoni</h5>
                            <p class="mb-0">Ish jarayonlarini soddalashtirish va samaradorlikni oshirish uchun maxsus
                                ishlab chiqilgan texnologiyalar.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="ms-4">
                            <h5>24/7 Qo‘llab-quvvatlash</h5>
                            <p class="mb-0">Bizning mutaxassislarimiz kecha-kunduz sizga yordam berishga tayyor. Har
                                qanday savollarga javob beramiz!</p>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Batafsil</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded wow zoomIn" data-wow-delay="0.5s"
                         src="{% static 'soffer-1.0.0/img/about.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- About End -->


    <!-- Overview Start -->
    <div class="container-xxl bg-light my-6 py-5" id="overview">
        <div class="container">
            <!-- First Section -->
            <div class="row g-5 py-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="{% static 'soffer-1.0.0/img/overview-1.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="mb-0">01</h1>
                        <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                        <h5 class="mb-0">App Integration</h5>
                    </div>
                    <p class="mb-4">Integratsiya jarayonlarini soddalashtiring va ilovangizni tezroq ishlashga
                        moslang.</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>To‘liq moslashtirish imkoni</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Foydalanuvchi uchun qulay interfeys</p>
                    <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>Yanada samarali va kuchli tizim
                    </p>
                </div>
            </div>

            <!-- Second Section -->
            <div class="row g-5 py-5 align-items-center flex-column-reverse flex-lg-row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="mb-0">02</h1>
                        <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                        <h5 class="mb-0">App Customization</h5>
                    </div>
                    <p class="mb-4">Ilovangizni o‘z ehtiyojlaringizga mos ravishda sozlang va funksiyalarni
                        kengaytiring.</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>To‘liq moslashtirish imkoniyati</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Oddiy va qulay interfeys</p>
                    <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>Yuqori samaradorlik va
                        ishonchlilik</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="{% static 'soffer-1.0.0/img/overview-2.jpg' %}" alt="">
                </div>
            </div>

            <!-- Third Section -->
            <div class="row g-5 py-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="{% static 'soffer-1.0.0/img/overview-3.jpg' %}" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="mb-0">03</h1>
                        <span class="bg-primary mx-2" style="width: 30px; height: 2px;"></span>
                        <h5 class="mb-0">App Modification</h5>
                    </div>
                    <p class="mb-4">Ilovangizni doimiy ravishda yangilang va yangi xususiyatlar qo‘shing.</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>To‘liq sozlash imkoniyati</p>
                    <p><i class="fa fa-check-circle text-primary me-3"></i>Oson foydalanish uchun interfeys</p>
                    <p class="mb-0"><i class="fa fa-check-circle text-primary me-3"></i>Tezkor va ishonchli ishlash</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Overview End -->


    <!-- Advanced Feature Start -->
    <div class="container-xxl py-6" id="features">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Ilovamizning Ajoyib Xususiyatlari</h1>
                <p class="mb-5">Bizning ilovamiz yuqori darajadagi moslashuvchanlik, tezkor ishlash va qulay interfeys
                    bilan ajralib turadi. Ishingizni osonlashtirish uchun barcha kerakli funksiyalarni taqdim
                    etamiz.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-edit fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">To'liq Moslashuvchan</h5>
                        <p class="m-0">Ilovani ehtiyojlaringizga mos ravishda o'zgartirishingiz va sozlashingiz
                            mumkin.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-sync fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Ilova Integratsiyasi</h5>
                        <p class="m-0">Turli xizmat va tizimlar bilan oson integratsiya qilish imkoniyati mavjud.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-laptop fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Yuqori Ruxsat Aniqligi</h5>
                        <p class="m-0">Sifatli grafikalar va aniq tasvirlar bilan ajoyib vizual tajribaga ega
                            bo'ling.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="advanced-feature-item text-center rounded py-5 px-4">
                        <i class="fa fa-draw-polygon fa-3x text-primary mb-4"></i>
                        <h5 class="mb-3">Sudsiz Tahrirlash</h5>
                        <p class="m-0">Drag & Drop funksiyasi bilan ilovani osongina boshqaring va tahrirlang.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Advanced Feature End -->


    <!-- Facts Start -->
    <div class="container-xxl bg-primary my-6 py-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-cogs fa-3x text-white mb-3"></i>
                    <h1 class="mb-2" data-toggle="counter-up">7264</h1>
                    <p class="text-white mb-0">Faol O'rnatishlar</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="mb-2" data-toggle="counter-up">6521</h1>
                    <p class="text-white mb-0">Mamnun Mijozlar</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                    <h1 class="mb-2" data-toggle="counter-up">729</h1>
                    <p class="text-white mb-0">Mukofotlar</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-quote-left fa-3x text-white mb-3"></i>
                    <h1 class="mb-2" data-toggle="counter-up">5917</h1>
                    <p class="text-white mb-0">Mijoz Fikrlari</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Facts End -->


    <!-- Process Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="{% static 'soffer-1.0.0/img/process.jpg' %}" alt="Ish jarayoni">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h1 class="mb-4">Ishni Boshlash Uchun Uchta Oddiy Qadam</h1>
                    <p class="mb-4">Dasturiy ta'minotimiz bilan ishlash juda oson! Quyidagi uchta oddiy bosqichni
                        bajarish orqali siz tezda ishga kirishishingiz mumkin.</p>
                    <ul class="process mb-0">
                        <li>
                            <span><i class="fa fa-cog"></i></span>
                            <div>
                                <h5>Dasturiy Ta'minotni O'rnating</h5>
                                <p>Kompyuteringiz yoki qurilmangizga dasturimizni yuklab olib, uni o'rnating. O'rnatish
                                    jarayoni tez va oson!</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fa fa-address-card"></i></span>
                            <div>
                                <h5>Profilingizni Sozlang</h5>
                                <p>Shaxsiy ma'lumotlaringizni kiriting va profilingizni to'ldiring. Bu sizning
                                    xizmatlarimizdan samarali foydalanishingizga yordam beradi.</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fa fa-check"></i></span>
                            <div>
                                <h5>Xizmatlardan Bahramand Bo'ling</h5>
                                <p>Dasturiy ta'minotning barcha ilg‘or imkoniyatlaridan foydalaning va ish
                                    jarayoningizni yanada samarali qiling!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Process End -->


    <!-- Pricing Start -->
   <div class="container-xxl py-6" id="pricing">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Narxlar rejasi</h1>
            <p class="mb-5">Xizmat narxlari mijozning talab va istaklariga qarab individual ravishda belgilanadi.
                O‘zingizga mos variantni tanlang va biz bilan bog‘laning!</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="price-item rounded overflow-hidden">
                    <div class="bg-dark p-4">
                        <h4 class="text-white mt-2">Standart</h4>
                        <p class="text-white">Boshlang‘ich loyihalar uchun</p>
                    </div>
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3"><span>Turli xil turdagi websayttelar</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Telegram bot </span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Rule based Chat bot </span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Responsiv dizayn</span><i class="fa fa-check text-success pt-1"></i></div>
                        <a href="#contact" class="btn btn-dark rounded-pill py-2 px-4 mt-3">Narxni bilish</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="price-item rounded overflow-hidden">
                    <div class="bg-primary p-4">
                        <h4 class="text-white mt-2">Professional</h4>
                        <p class="text-white">Katta hajmdagi loyihalar uchun</p>
                    </div>
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3"><span>Turli brauzerlarga moslashuv</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Mualliflik huquqini olib tashlash</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Ai chatbot</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Yirik loyihalar uchun webstaylar </span><i class="fa fa-check text-success pt-1"></i></div>
                        <a href="#contact" class="btn btn-primary rounded-pill py-2 px-4 mt-3">Narxni bilish</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item rounded overflow-hidden">
                    <div class="bg-dark p-4">
                        <h4 class="text-white mt-2">Maksimal</h4>
                        <p class="text-white">To‘liq tayyor yechimlar</p>
                    </div>
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3"><span>Crm ERP Tizimlari</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Biznesni Avtomatlashtirish</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>Database management</span><i class="fa fa-check text-success pt-1"></i></div>
                        <div class="d-flex justify-content-between mb-3"><span>6 oy davomida bepul qo‘llab-quvvatlash</span><i class="fa fa-check text-success pt-1"></i></div>
                        <a href="#contact" class="btn btn-dark rounded-pill py-2 px-4 mt-3">Narxni bilish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Pricing End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-6" id="testimonial">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Mijozlarimizning Fikrlari</h1>
                <p class="mb-5">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat
                    ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo</p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item bg-light rounded my-4">
                    <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>Xizmatdan juda
                        mamnunman! Buyurtmam qisqa vaqt ichida bajarildi va natijalar kutilganidan ham yaxshiroq bo‘ldi.
                        Kelajakda yana hamkorlik qilishni rejalashtiryapman. Rahmat!.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle"
                             src="{% static 'soffer-1.0.0/img/testimonial-1.jpg' %}" style="width: 65px; height: 65px;"
                             alt="">
                        <div class="ps-4">
                            <h5 class="mb-1">Dilnoza </h5>
                            <span> Tadbirkor</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-light rounded my-4">
                    <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>Professional va
                        ishonchli xizmat! Mijozlarga e’tibor berilishi va sifatlilik darajasi menga juda yoqdi. Barchaga
                        tavsiya qilaman!.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle"
                             src="{% static 'soffer-1.0.0/img/testimonial-2.jpg' %}" style="width: 65px; height: 65px;"
                             alt="">
                        <div class="ps-4">
                            <h5 class="mb-1">Hasanbek</h5>
                            <span>Grafik Dizayner</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-light rounded my-4">
                    <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>Tezkor va sifatli
                        yechimlar! Men uchun eng muhimi – vaqtida yetkazib berish va yuqori sifat. Bu jamoa aynan shuni
                        ta’minladi. Rahmat</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle"
                             src="{% static 'soffer-1.0.0/img/testimonial-3.jpg' %}" style="width: 65px; height: 65px;"
                             alt="">
                        <div class="ps-4">
                            <h5 class="mb-1">Rustam O</h5>
                            <span>Dasturchi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-xxl py-6" id="contact">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-3">Biz bilan bog'lanish</h1>
                    <p class="mb-4">O'zingizni qiziqtirgan savollingizni yosib qoldiring siz bilan tez orada bog'lanamiz

                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="ms-3">
                            <p class="mb-2">Call Us</p>
                            <h5 class="mb-0">+998 93 364 44 01</h5>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="ms-3">
                            <p class="mb-2">Mail Us</p>
                            <h5 class="mb-0">info@example.com</h5>
                        </div>
                    </div>
                    <div class="d-flex mb-0">
                        <div class="flex-shrink-0 btn-square rounded-circle bg-primary text-white">
                            <i class="fa fa-map-marker-alt"></i>
                        </div>
                        <div class="ms-3">
                            <p class="mb-2">Our Office</p>
                            <h5 class="mb-0">Tashkent region, Angren</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                           placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" placeholder="Leave a message here"
                                              id="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3">
                    <p class="section-title text-white h5 mb-4">Address<span></span></p>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Tashkent region, Angren</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+998 94 364 44 01</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                    <a class="btn btn-link" href="">About</a>
                    <a class="btn btn-link" href="">Contact</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Conditions</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <p class="section-title text-white h5 mb-4">Community<span></span></p>
                    <a class="btn btn-link" href="">Career</a>
                    <a class="btn btn-link" href="">Leadership</a>
                    <a class="btn btn-link" href="">Strategy</a>
                    <a class="btn btn-link" href="">History</a>
                    <a class="btn btn-link" href="">Components</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                    <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                        vulpu</p>
                    <div class="position-relative w-100 mt-3">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                               placeholder="Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-primary fs-4"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'soffer-1.0.0/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'soffer-1.0.0/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'soffer-1.0.0/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'soffer-1.0.0/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'soffer-1.0.0/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'soffer-1.0.0/js/main.js' %}"></script>
</body>

</html>